<!DOCTYPE html>
<html>
<head>
	<title></title>


<link rel="stylesheet" type="text/css" href="vibeciti.css">	
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>

</head>
<body>
<div id="left-column">
	
	<div id="playlist-text">
		<p>Playlist - <span>0</span> Tracks Loaded</p>
	</div>

</div>
<div id="main-container">

	
		<div id="navbar">
			<div id="logo">

			<h4><SPAN>V</SPAN>IBE<span>C</span>ITI</h4>

			</div>
			
			<div id="navlinks">
				


			</div>

			
		</div>


	<div id="mainscreen">


		<div id="play-area">
		<!-- <div id="play-area-filter"></div> -->


		<div id="play-area-overlay">

		<div class="jukebox" id="jukebox-one"></div>
		<div class="jukebox" id="jukebox-two"></div>
		<div class="jukebox" id="jukebox-three"></div>
		<div class="jukebox" id="jukebox-four"></div>
		<div class="jukebox" id="jukebox-five"></div>	

	
		</div>



		</div>
	</div>

	<div id="playlist-container">
		<div id="chat-window"></div>
		<div id="about-column">
			<div id="sub-title"><h4>Music . Visual. Equalizer</h4><h2>Welcome to VibeCiti. Pair your favorite songs with beautiful visuals.</h2></div>
			<div id="text-body">
				<div>Hello there</div>
				<div></div>
			</div>
		</div>

	</div>



	<div id="track-list">
		
		
		
	
		<div class="track-row" id="track-row-two">
			<img id="pngTwo" src="hatsu.png">
		</div>
		<div class="track-row" id="track-row-one"></div>
	
		<div class="track-row" id="track-row-three"></div>


		<div id="track-container">
			<div class="track-box" data-offset="32">
				<img src="touhou.jpg">
			</div>
			<div class="track-box" data-offset="14">
				<img src="breaker.jpg">
			</div>
			<div class="track-box" data-offset="16">
				<img src="bleach.jpg">
			</div>			
			<div class="track-box" data-offset="18">
				<img src="kaneki.jpg">
			</div>
			<div class="track-box" data-offset="10">
				<img src="fruit.jpg">
			</div>
			<div class="track-box" data-offset="12">
				<img src="grass.jpg">
			</div>			
			<div class="track-box" data-offset="14">
				<img src="evangelion.jpg">
			</div>
			<div class="track-box" data-offset="16">
				<img src="kimono.jpg">
			</div>
			<div class="track-box" data-offset="18">
				<img src="kaneki2.jpg">
			</div>			
			<div class="track-box" data-offset="20">
				<img src="vocaloid2.jpg">
			</div>
			<div class="track-box" data-offset="22">
				<img src="neko_yanshoujie.jpg">
			</div>
			<div class="track-box" data-offset="24">
				<img src="macadamia.jpg">
			</div>
	
			
		</div>

	</div>

	<div id="placeholder"> 

	

	</div>





</div>
<div id="right-column">
	
	<div id="Countdown">

		<p>Queue</p>
		<p>0</p>
		<p>Minutes</p>
		<p>0</p>
		<p>Seconds</p>
		<p>0</p>

	</div>

</div>

<script type="text/javascript" src="vibeciti.js"></script>

</body>
</html>